.login-container {
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 5px 20px #a0a0a0;
    overflow: hidden;
}

@media (max-width: 768px) {
    .login-container {
        height: 75vh;
        width: 75vw;
        box-shadow: none;
        border-radius: 0;
    }
}

@media (max-width: 480px) {
    .login-container {
        height: 100vh;
        width: 100vw;
        box-shadow: none;
    }
}